@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
    
 }
 .logo{
    width: 80px;
 }
 #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 1px; 
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 10fr
    
   
}   

.hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px; 
}
#hero-msg h4 {
    color: #edf2f4;
}
.rivers-card {
    grid-column:  2 / 4 ;
    grid-row: 2  /3;
    text-align: center;
    margin: 200px 0;
    
}
.camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    text-align: center;
    margin: 200px 0;
    
}
.rapids-card  {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
    text-align: center;
    margin: 200px 0;
    
    
}
.msg {
    background-color:#2b2d42;
    line-height: 1.5em;
    text-align: center;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;

}
.msg a {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 0.8em;
}
.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}
.book{
    text-decoration: none;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
    color: #6f7364;
    

}
main section img {
    box-sizing: border-box;
}
.join{
    text-decoration: none;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: #edf2f4;
}

#background {
    grid-column: 1/ 11;
    grid-row: 3 / 11 ;
    height: 725px;
    background-color: #edf2f4;
}
body {
    background-color: #8d99ae;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0; 
}
header {
    width: 100%;
    background-color:#2b2d42;
    display: grid;
    grid-template-columns: 150px auto;
}
.button-box{
    align-items: center;
}
nav a:hover {
    background-color:#8d99ae;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#2b2d42;
    margin: 5px;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    
}
.book:hover {
    background-color:#2b2d42;
}

.join:hover {
    background-color:#8d99ae;
}

.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-box{
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

} 
#hero-img {
    width: 100%;
}
.mountaing{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    padding: 10px;
    margin: 10px;
}
.social img {
    padding-top: 15px;
}
.card-img {
    border: 10px solid #edf2f4;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #edf2f4;
    text-decoration: none;
    align-self: center;
    padding: 15px 30px;
}
h1 {
    color:#edf2f4;
} 
h2 {
    color:#edf2f4;
    margin: 0;
}
h3 { 
    color:#edf2f4;
}
h4{
    color:#edf2f4; 
    text-align: center;
    margin-top:10px;
}
h5 {
    color:#edf2f4;
} 
h6{
    color:#edf2f4;
} 

footer p {
    font-size: 1.2em;
    color: #edf2f4;
}
.icon {
    width: 80px;
}
      
 
footer p a:hover {
    text-decoration: underline;
}
footer a {
    text-decoration: none;
    color: #edf2f4
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
